.formControl textarea{
    border: 3px solid red;
}
.formControl input{
    border: 3px solid red;
}
.formControl span{
    color: red;
}

.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color: red;
}